GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE
PINECONE_API_KEY=YOUR_PINECONE_API_KEY_HERE
HUGGINGFACE_API_KEY=YOUR_HUGGINGFACE_API_KEY_HERE

PINECONE_INDEX=rag-gradio

EMBED_MODEL=intfloat/multilingual-e5-large
EMBED_DIMENSION=1024
LLM_MODEL=llama-3.3-70b-versatile